<a href="https://colab.research.google.com/github/ShaikSony-07/python-coding-practice/blob/main/Day_27_of_python_practice_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#adding nos into list by using list compherension approach
l=[j for j in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#adding the squares of numbers into list by using list
l=[j**2 for j in range(1,11)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#from the given tuple odd only add numbers into the list
t=(11,78,34,99,23,67,90,70)
l=[i for i in t if i%2==1]
print(l)

[11, 99, 23, 67]

In [5]:
#given tuple add only one odd numbers which r greater than 50 into the list by using list compherension approach
t=(11,78,34,99,23,67,90,70)
l=[i for i in t if i%2==1 and i>50]
print(l)

[99, 67]

In [7]:
l2=[even for even in range(1,11) if even%2!=0]
print(l2)

[1, 3, 5, 7, 9]

In [8]:
d=[[i,j,k] for i in range(1,10) for j in range(1,10) for k in range(1,10) if i==j==k]
print(d)

[[1, 1, 1], [2, 2, 2], [3, 3, 3], [4, 4, 4], [5, 5, 5], [6, 6, 6], [7, 7, 7], [8, 8, 8], [9, 9, 9]]

In [10]:
d=[i if i>0 else 0 for i in [1,2,3,-88,100,-99]]
print(d)

[1, 2, 3, 0, 100, 0]

In [11]:
l=[2,4,6,7,66,77]
d={i for i in l if i%2==0}
print(d)

{2, 4, 66, 6}

In [13]:
l=[2,4,6,7,66,77]
d={i if i>0 else 0 for i in l}
print(d)

{2, 66, 4, 6, 7, 77}

In [14]:
d={i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [15]:
s='abc'
d={i.upper():i*3 for i in s}
print(d)

{'A': 'aaa', 'B': 'bbb', 'C': 'ccc'}

In [17]:
a='hai'
d={i:value for i,value in enumerate(a)}
print(d)

{0: 'h', 1: 'a', 2: 'i'}

In [18]:
a=[1,2,3]
b='hello'
d={i:value for i,value in zip(a,b)}
print(d)

{1: 'h', 2: 'e', 3: 'l'}