<a href="https://colab.research.google.com/github/ShaikSony-07/python-coding-practice/blob/main/Day_12_of_python_practice_numberpatterns1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
n=int(input())
star=n
space=0
d=1
for row in range(1,n+1):
  for st in range(1,star+1):
    print(d,end='')
    d+=1
  for sp in range(1,space+1):
    print(' ',end='')
  print()
  star-=1
  space+=1

5
12345
6789
101112
1314
15

In [8]:
n=int(input())
star=n
d=1
for row in range(1,n+1):
  for st in range(1,star+1):
    print(d,end='')
    if row%2==1:
      d+=1
    else:
      d-=1
  print()
  star-=1

5
12345
6543
234
54
3

In [13]:
n=int(input())
star=1
space=n-1
for row in range(1,n+1):
  d=1
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(d,end='')
    d+=1
  print()
  star+=2
  space-=1

5
    1
   123
  12345
 1234567
123456789

In [18]:
n=int(input())
space=n-1
star=1
for row in range(1,n+1):
  d=1
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(d,end='')
    if st<=star//2:
      d+=1
    else:
      d-=1
  print()
  star+=2
  space-=1

5
    1
   121
  12321
 1234321
123454321

In [19]:
n=int(input())
space=n//2
star=1
for row in range(1,n+1):
  d=1
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(d,end='')
    if st<=star//2:
      d+=1
    else:
      d-=1
  print()
  if row<=n//2:
    star+=2
    space-=1
  else:
    star-=2
    space+=1

5
  1
 121
12321
 121
  1

In [20]:
n=int(input())
space=0
star=1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print('*',end='')
  print()
  if row<=n//2:
    space+=1
  else:
    space-=1

5
*
 *
  *
 *
*

In [21]:
n=int(input())
for row in range(1,n+1):
  d=row
  for col in range(1,n+1):
    print(d,end='')
    d+=n
  print()

5
16111621
27121722
38131823
49141924
510152025

In [22]:
n=int(input())
space=0
star=1
d=1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(d,end='')
  print()
  if row<=n//2:
    d+=2
    space+=1
  elif row==n//2+1:
    d-=1
    space-=1
  else:
    d-=2
    space-=1

5
1
 3
  5
 4
2