<a href="https://colab.research.google.com/github/ShaikSony-07/python-coding-practice/blob/main/Day_11_of_python_practice_numberpatterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=int(input())
d=1
for row in range(1,n+1):
  for col in range(1,n+1):
    print(d,end='')
  print()
  d+=1

5
11111
22222
33333
44444
55555

In [7]:
n=int(input())
d=1
for row in range(1,n+1):
  for col in range(1,n+1):
    print(d ,end='')
    d+=1
  print()

5
12345
678910
1112131415
1617181920
2122232425

In [8]:
n=int(input())
for row in range(1,n+1):
  d=1
  for col in range(1,n+1):
    print(d,end='')
    d+=1
  print()

5
12345
12345
12345
12345
12345

In [12]:
n=int(input())
star=1
for row in range(1,n+1):
  for col in range(1,star+1):
    print(row,end='')
  print()
  star+=1

5
1
22
333
4444
55555

In [16]:
n=int(input())
d=1
star=1
for row in range(1,n+1):
  for col in range(1,star+1):
    print(d,end='')
    star+=1
    d+=1
  print()

4
1
23
4567
89101112131415

In [18]:
n=int(input())
space=n-1
star=1
d=1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(d,end='')
    d+=1
  print()
  star+=1
  space-=1

5
    1
   23
  456
 78910
1112131415

In [19]:
n=int(input())
d=1
for row in range(1,n+1):
  d=row
  for col in range(1,n+1):
    print(d,end='')
    d+=1
  print()

5
12345
23456
34567
45678
56789

In [20]:
n=int(input())
for row in range(1,n+1):
  d=row
  for col in range(1,n+1):
    print(d,end='')
    d+=row
  print()

5
12345
246810
3691215
48121620
510152025