<a href="https://colab.research.google.com/github/ShaikSony-07/python-coding-practice/blob/main/Day_13_0f_python_practice_alphabetic_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
n=int(input())
for row in range(1,n+1):
  d=1
  for col in range(1,n+1):
    print(chr(64+d),end='')
    d+=1
  print()

5
ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [5]:
n=int(input())
d=1
for row in range(1,n+1):
  for col in range(1,n+1):
    print(chr(64+d),end='')
    d+=1
  print()

5
ABCDE
FGHIJ
KLMNO
PQRST
UVWXY

In [6]:
n=int(input())
star=1
for row in range(1,n+1):
  d=1
  for st in range(1,star+1):
    print(chr(64+d),end='')
    d+=1
  print()
  star+=1

5
A
AB
ABC
ABCD
ABCDE

In [9]:
n=int(input())
d=1
for row in range(1,n+1):
  for col in range(1,n+1):
    if row==col:
      print(chr(64+d),end='')
      d+=1
    else:
      print(' ',end='')
  print()

5
A
 B
  C
   D
    E

In [10]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    print(chr(64+row),end='')
  print()

5
AAAAA
BBBBB
CCCCC
DDDDD
EEEEE

In [11]:
n=int(input())
star=1
for row in range(1,n+1):
  for st in range(1,star+1):
    print(chr(64+row),end='')
  print()
  star+=1

5
A
BB
CCC
DDDD
EEEEE

In [12]:
n=int(input())
star=1
d=1
for row in range(1,n+1):
  for st in range(1,star+1):
    print(chr(64+d),end='')
    d+=1
  print()
  star+=1

5
A
BC
DEF
GHIJ
KLMNO

In [14]:
n=int(input())
space=n-1
star=1
d=1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(chr(64+d),end='')
    d+=1
  print()
  space-=1
  star+=1

5
    A
   BC
  DEF
 GHIJ
KLMNO

In [16]:
n=int(input())
for row in range(1,n+1):
  d=row
  for st in range(1,n+1):
    print(chr(64+d),end='')
    if row%2==0:
      d+=2
    else:
      d+=1
  print()

5
ABCDE
BDFHJ
CDEFG
DFHJL
EFGHI

In [19]:
n=int(input())
star=1
space=2*n-1
for row in range(1,n+1):
  d=1
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(chr(64+d),end='')
    d+=1
  print()
  space-=1
  star+=2

5
         A
        ABC
       ABCDE
      ABCDEFG
     ABCDEFGHI

In [21]:
n=int(input())
for row in range(1,n+1):
  d=row
  for col in range(1,n+1):
    print(chr(64+d),end='')
    d+=5
  print()

4
AEIM
BFJN
CGKO
DHLP

In [22]:
n=int(input())
star=1
space=n-1
for row in range(1,n+1):
  d=1
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print(chr(64+d),end='')
    d+=1
  print()
  if row<=n//2:
    space-=1
    star+=2
  else:
    space+=1
    star-=2

5
    A
   ABC
  ABCDE
   ABC
    A