<a href="https://colab.research.google.com/github/ShaikSony-07/python-coding-practice/blob/main/Day_10_of_python_practice_patterns1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
n=int(input())
star=n
space=0
for row in range(1,n+1):
  for spac in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print('*',end='')
  print()
  star-=1
  space+=1

5
*****
 ****
  ***
   **
    *

In [4]:
n=int(input())
star=1
space=n-1
for row in range(1,n+1):
  for spac in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print('*',end='')
  print()
  star+=1
  space-=1

5
    *
   **
  ***
 ****
*****

In [5]:
n=int(input())
star=n
space=0
for row in range(1,n+1):
  for st in range(1,star+1):
    print('*',end='')
  print()
  star-=1

5
*****
****
***
**
*

In [6]:
n=int(input())
space=n-1
star=1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print('*',end='')
  print()
  space-=1
  star+=2

5
    *
   ***
  *****
 *******
*********

In [12]:
n=int(input())
space=0
star=2*n-1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print('*',end='')
  print()
  star-=2
  space+=1

5
*********
 *******
  *****
   ***
    *

In [14]:
n=int(input())
space=n//2
star=1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print('*',end='')
  print()
  if row <=n//2:
    star+=2
    space-=1
  else:
    star-=2
    space+=1

5
  *
 ***
*****
 ***
  *

In [25]:
n=int(input())
space=n//2
star=1
for row in range(1,n+1):
  for sp in range(1,space+1):
    print(' ',end='')
  for st in range(1,star+1):
    print('*',end='')
  print()
  if row<=n//2:
    space-=1
    star+=1
  else:
    space+=1
    star-=1

5
  *
 **
***
 **
  *

In [26]:
n=int(input())
space=n//2
star=1
for row in range(1,n+1):
  for st in range(1,star+1):
    print('*',end='')
  for sp in range(1,space+1):
    print(' ',end='')
  print()
  if row<=n//2:
    space-=1
    star+=1
  else:
    space+=1
    star-=1

5
*
**
***
**
*