<a href="https://colab.research.google.com/github/ShaikSony-07/python-coding-practice/blob/main/Day_18_of_python_oractice_lambdafunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#lambdafunctions with one argument
add=lambda x:x+10
print(add(20))

30

In [3]:
#lambdafunctions with two arguments
addtwo=lambda x,y:x+y
print(addtwo(20,30))

50

In [7]:
#map with normal functions
l=[1,2,3,5,4]
def multiply(n):
  return n*10
print(tuple(map(multiply,l)))

(10, 20, 30, 50, 40)

In [8]:
#map with lambda function
l=[1,2,3,4,5]
print(tuple(map(lambda x:x*10,l)))

(10, 20, 30, 40, 50)

In [9]:
#taking space seperated values from useer
l=list(map(int,input().split()))
print(l)

10 4 5  6 67   7  8 7
[10, 4, 5, 6, 67, 7, 8, 7]

In [11]:
#filter with normal function
l=[10, 4, 5, 6, 67, 7, 8, 7]
def iseven(n):
  return n%2==0
print(tuple(filter(iseven,l)))

(10, 4, 6, 8)

In [14]:
#filter with lambda functions
l=[10, 4, 5, 6, 67, 7, 8, 7]
print(tuple(filter(lambda n:n%2==0,l)))

(10, 4, 6, 8)

In [15]:
#min values of list using reduce
l=[10, 4, 5, 6, 67, 7, 8, 7]
import functools
print(functools.reduce(lambda x,y:x if x<y else y,l))

4

In [16]:
#sum of values of list using reduce
l=[10, 4, 5, 6, 67, 7, 8, 7]
import functools
print(functools.reduce(lambda x,y:x+y,l))

114