<a href="https://colab.research.google.com/github/ShaikSony-07/python-coding-practice/blob/main/day_09_of_python_practice_patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    print('*',end='')
  print()

5
*****
*****
*****
*****
*****

In [13]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    if row==col:
      print('*',end='')
    else:
        print(' ',end='')
  print()

5
*
 *
  *
   *
    *

In [14]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    if row+col==n+1:
      print('*',end='')
    else:
      print(' ',end='')
  print()

5
    *
   *
  *
 *
*

In [16]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    if row==col or row+col==n+1:
      print('*',end='')
    else:
      print(' ',end='')
  print()

5
*   *
 * *
  *
 * *
*   *

In [19]:
n=int(input())
for row in range(1,n+1):
  print('*'*row)
print()

5
*
**
***
****
*****

In [20]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    if row>=col:
      print('*',end='')
  print()

5
*
**
***
****
*****

In [21]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    if row+col>=n+1:
      print('*',end='')
    else:
      print(' ',end='')
  print()

5
    *
   **
  ***
 ****
*****

In [22]:
n=int(input())
for row in range(1,n+1):
  for col in range(1,n+1):
    if row<=col:
      print('*',end='')
  print()

5
*****
****
***
**
*